/* CSS files add styling rules to your content */

* body {
  font-family: 'Poppins', sans-serif;
  margin: 2em;
  color: #404040;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.logo {
  margin-top: 50px;
}

.topnav {
  overflow: hidden;
  background-color: white;
  margin-left: 480px;
  margin-right: 120px;
}

.topnav a {
  float: left;
  display: block;
  color: #666666;
  font-weight: bold;
  text-align: center;
  padding: 25px 22px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .search-container {
  float: right;
}

.topnav .search-container button {
  float: right;
  margin-top: 25px;
  margin-right: 16px;
  background: white;
  font-size: 20px;
  color: #4d4d4d;
  border: none;
  cursor: pointer;
}

.best2020 {
  transition: 0.3s;
  width: 85%;
  padding: 30px;
  padding-bottom: 15px;
  margin-right: 120px;
  margin-left: 80px;
}

.best2020:hover {
  box-shadow: 0 3px 6px 0 rgb(153, 153, 153);
}

.bestcontainer {
  align:left;
  margin-right: 380px;
}

hr.blueline {
  border: 2px solid #206cdf;
  margin-right: 108px;
  margin-left: 108px;
}

.newsfeed {
  font-weight: bold;
  margin-right: 108px;
  margin-left: 108px;
}

.link {
  font-weight: bold;
  color: #206cdf;
  float: right;
  margin-right: 108px;
}

.news {
  width: 40%;
  padding: 30px;
  padding-bottom: 15px;
  margin-right: 120px;
  margin-left: 80px;
  float:left;
}


.newscontainer {
  align:left;
}

.lessons {
  transition: 0.3s;
  width: 39%;
  padding: 30px;
  padding-bottom: 15px;
  margin-right: 120px;
  margin-left: 80px;
  float:left;
}

.lessons:hover {
  box-shadow: 0 3px 6px 0 rgb(153, 153, 153);
}

.lessonscontainer {
  align:left;
  margin-right: 100px;
}

.playful {
  transition: 0.3s;
  width: 39%;
  padding: 30px;
  padding-bottom: 15px;
  margin-right: 120px;
  margin-left: 80px;
  float: right;
}

.playful:hover {
  box-shadow: 0 3px 6px 0 rgb(153, 153, 153);
}

.playfulcontainer {
  align:left;
  margin-right: 100px;
}