/* CSS files add styling rules to your content */

* body {
  font-family: "Poppins", sans-serif;
  margin: 2em;
  color: #404040;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.logo {
  margin-top: 5vw;
}

.topnav {
  width: 64%;
  overflow: hidden;
  background-color: white;
  margin-left: 28vw;
  margin-right: 12vw;
}

.topnav a {
  float: left;
  display: block;
  color: #666666;
  font-weight: bold;
  text-align: center;
  padding: 2.5vw 2.2vw;
  text-decoration: none;
  font-size: 1.1vw;
}

.topnav .search-container {
  float: right;
}

.topnav .search-container button {
  float: right;
  margin-top: 2.5vw;
  margin-right: 1.6vw;
  background: white;
  font-size: 1.5vw;
  color: #4d4d4d;
  border: none;
  cursor: pointer;
}

.best2020 {
  transition: 0.3s;
  width: 85%;
  padding: 2.5vw;
  padding-bottom: 1.5vw;
  margin-right: 5vw;
  margin-left: 5vw;
}

.best2020:hover {
  box-shadow: 0 0.3vw 0.6vw 0 rgb(153, 153, 153);
}

.bestcontainer {
  align: left;
  margin-right: 22vw;
}

hr.blueline {
  border: 0.2vw solid #206cdf;
  margin-right: 6.8vw;
  margin-left: 6.8vw;
}

.title {
  font-weight: bold;
  margin-right: 6.8vw;
  margin-left: 6.8vw;
}

.link {
  font-weight: bold;
  color: #206cdf;
  float: right;
  margin-right: 6.8vw;
}

.TL {
  position: relative;
  top: -144vw;
}

.nanda {
  position: relative;
  top: -2vw;
}

.card1 {
  position: relative;
  top: -46vw;
}

.card2 {
  position: relative;
  top: -86vw;
}

.card3 {
  position: relative;
  top: -125vw;
}

.card4 {
  position: relative;
  top: -142vw;
}

.card5 {
  position: relative;
  top: -160vw;
}

.card6 {
  position: relative;
  top: -198vw;
}

.card7 {
  position: relative;
  top: -237vw;
}

.card8 {
  position: relative;
  top: -256.8vw;
}

.card9 {
  position: relative;
  top: -278.8vw;
}

#nletter {
  height: 6vw;
  background-color: #f2f2f2;
  position: relative;
  top: -2vw;
}

.news {
  width: 40%;
  padding: 2.5vw;
  padding-bottom: 1.5vw;
  margin-right: 4.5vw;
  margin-left: 4.5vw;
  float: left;
}

.newscontainer {
  align: left;
}

.sidearticles {
  width: 40%;
  padding: 2.5vw;
  padding-bottom: 1.5vw;
  margin-right: 4.5vw;
  margin-left: 4.5vw;
  float: right;
  position: relative;
  top: -47.9vw;
}

.sidearticlescontainer {
  align: left;
}

.lessons {
  transition: 0.3s;
  width: 39%;
  padding: 2.5vw;
  padding-bottom: 1.5vw;
  margin-right: 4.5vw;
  margin-left: 4.5vw;
  float: left;
}

.lessons:hover {
  box-shadow: 0 0.3vw 0.6vw 0 rgb(153, 153, 153);
}

.lessonscontainer {
  align: left;
  margin-right: 6vw;
}

.playful {
  transition: 0.3s;
  width: 39%;
  padding: 2.5vw;
  padding-bottom: 1.5vw;
  margin-right: 4.5vw;
  margin-left: 4.5vw;
  float: right;
  position: relative;
  top: -40.3vw;
}

.playful:hover {
  box-shadow: 0 0.3vw 0.6vw 0 rgb(153, 153, 153);
}

.playfulcontainer {
  align: left;
  margin-right: 6vw;
}

.explorecolor {
  transition: 0.3s;
  width: 39%;
  padding: 2.5vw;
  padding-bottom: 1.5vw;
  margin-right: 4.5vw;
  margin-left: 4.5vw;
  float: left;
}

.explorecolor:hover {
  box-shadow: 0 0.3vw 0.6vw 0 rgb(153, 153, 153);
}

.explorecolorcontainer {
  align: left;
  margin-right: 6vw;
}

.beneath {
  transition: 0.3s;
  width: 39%;
  padding: 2.5vw;
  padding-bottom: 1.5vw;
  margin-right: 4.5vw;
  margin-left: 4.5vw;
  float: right;
  position: relative;
  top: -39.2vw;
}

.beneath:hover {
  box-shadow: 0 0.3vw 0.6vw 0 rgb(153, 153, 153);
}

.beneathcontainer {
  align: left;
  margin-right: 6vw;
}

.human {
  transition: 0.3s;
  width: 39%;
  padding: 2.5vw;
  padding-bottom: 1.5vw;
  margin-right: 4.5vw;
  margin-left: 4.5vw;
  float: left;
}

.human:hover {
  box-shadow: 0 0.3vw 0.6vw 0 rgb(153, 153, 153);
}

.humancontainer {
  align: left;
  margin-right: 6vw;
}

.at {
  transition: 0.3s;
  width: 39%;
  padding: 2.5vw;
  padding-bottom: 1.5vw;
  margin-right: 4.5vw;
  margin-left: 4.5vw;
  float: right;
  position: relative;
  top: -40vw;
}

.at:hover {
  box-shadow: 0 0.3vw 0.6vw 0 rgb(153, 153, 153);
}

.atcontainer {
  align: left;
  margin-right: 3vw;
}

.text {
  width: 25%;
  padding: 2.5vw;
  padding-bottom: 1.5vw;
  margin-right: 4.5vw;
  margin-left: 4.5vw;
  float: left;
}

.textcontainer {
  align: left;
}

.font {
  transition: 0.3s;
  width: 25%;
  padding: 2vw;
  padding-bottom: 1.5vw;
  margin-right: 4.5vw;
  margin-left: 4.5vw;
  float: left;
  position: relative;
  left: -10vw;
}

.font:hover {
  box-shadow: 0 0.3vw 0.6vw 0 rgb(153, 153, 153);
}

.fontcontainer {
  align: left;
  margin-right: 2vw;
}

.utube {
  transition: 0.3s;
  width: 25%;
  padding: 2vw;
  padding-bottom: 1.5vw;
  margin-right: 4.5vw;
  margin-left: 4.5vw;
  float: right;
  position: relative;
  top: -33.9vw;
  right: 2.7vw;
}

.utube:hover {
  box-shadow: 0 0.3vw 0.6vw 0 rgb(153, 153, 153);
}

.utubecontainer {
  align: left;
  margin-right: 2vw;
}

.hot {
  transition: 0.3s;
  width: 25%;
  padding: 2vw;
  padding-bottom: 1.5vw;
  margin-right: 4.5vw;
  margin-left: 4.5vw;
  float: right;
  position: relative;
  top: -33.9vw;
  right: -61.8vw;
}

.hot:hover {
  box-shadow: 0 0.3vw 0.6vw 0 rgb(153, 153, 153);
}

.hotcontainer {
  align: left;
  margin-right: 2vw;
}

.button {
  margin-right: 6.8vw;
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 90%;
  box-shadow: 0 0.1vw 0.6vw 0 rgb(153, 153, 153);
}

.here {
  transition: 0.3s;
  width: 39%;
  padding: 2.5vw;
  padding-bottom: 1.5vw;
  margin-right: 4.5vw;
  margin-left: 4.5vw;
  float: left;
}

.here:hover {
  box-shadow: 0 0.3vw 0.6vw 0 rgb(153, 153, 153);
}

.herecontainer {
  align: left;
  margin-right: 6vw;
}

.fab {
  transition: 0.3s;
  width: 39%;
  padding: 2.5vw;
  padding-bottom: 1.5vw;
  margin-right: 4.5vw;
  margin-left: 4.5vw;
  float: right;
  position: relative;
  top: -40.3vw;
}

.fab:hover {
  box-shadow: 0 0.3vw 0.6vw 0 rgb(153, 153, 153);
}

.fabcontainer {
  align: left;
  margin-right: 6vw;
}

.siin {
  transition: 0.3s;
  width: 39%;
  padding: 2.5vw;
  padding-bottom: 1.5vw;
  margin-right: 4.5vw;
  margin-left: 4.5vw;
  float: left;
}

.siin:hover {
  box-shadow: 0 0.3vw 0.6vw 0 rgb(153, 153, 153);
}

.siincontainer {
  align: left;
  margin-right: 6vw;
}

.threede {
  transition: 0.3s;
  width: 39%;
  padding: 2.5vw;
  padding-bottom: 1.5vw;
  margin-right: 4.5vw;
  margin-left: 4.5vw;
  float: right;
  position: relative;
  top: -39.2vw;
}

.threede:hover {
  box-shadow: 0 0.3vw 0.6vw 0 rgb(153, 153, 153);
}

.threedecontainer {
  align: left;
  margin-right: 1vw;
}

.im {
  transition: 0.3s;
  width: 39%;
  padding: 2.5vw;
  padding-bottom: 1.5vw;
  margin-right: 4.5vw;
  margin-left: 4.5vw;
  float: left;
}

.im:hover {
  box-shadow: 0 0.3vw 0.6vw 0 rgb(153, 153, 153);
}

.imcontainer {
  align: left;
  margin-right: 3vw;
}

.towards {
  transition: 0.3s;
  width: 39%;
  padding: 2.5vw;
  padding-bottom: 1.5vw;
  margin-right: 4.5vw;
  margin-left: 4.5vw;
  float: right;
  position: relative;
  top: -26.7vw;
}

.towards:hover {
  box-shadow: 0 0.3vw 0.6vw 0 rgb(153, 153, 153);
}

.towardscontainer {
  align: left;
  margin-right: 6vw;
}

.space {
  transition: 0.3s;
  width: 25%;
  padding: 2vw;
  padding-bottom: 3.5vw;
  margin-right: 4.5vw;
  margin-left: 4.5vw;
  float: left;
}

.space:hover {
  box-shadow: 0 0.3vw 0.6vw 0 rgb(153, 153, 153);
}

.spacecontainer {
  align: left;
  margin-right: 1.5vw;
}

.paper {
  transition: 0.3s;
  width: 25%;
  padding: 2vw;
  padding-bottom: 3.5vw;
  margin-right: 4.5vw;
  margin-left: 4.5vw;
  float: left;
  position: relative;
  right: 9vw;
}

.paper:hover {
  box-shadow: 0 0.3vw 0.6vw 0 rgb(153, 153, 153);
}

.papercontainer {
  align: left;
  margin-right: 1.5vw;
}

.book {
  transition: 0.3s;
  width: 25%;
  padding: 2vw;
  padding-bottom: 3.5vw;
  margin-right: 4.5vw;
  margin-left: 4.5vw;
  float: right;
  position: relative;
  top: -32.7vw;
  right: 2.7vw;
}

.book:hover {
  box-shadow: 0 0.3vw 0.6vw 0 rgb(153, 153, 153);
}

.bookcontainer {
  align: left;
  margin-right: 2vw;
}

.woma {
  transition: 0.3s;
  width: 25%;
  padding: 2vw;
  padding-bottom: 3.5vw;
  margin-right: 4.5vw;
  margin-left: 4.5vw;
  float: right;
  position: relative;
  top: -32.7vw;
  right: -61.8vw;
}

.woma:hover {
  box-shadow: 0 0.3vw 0.6vw 0 rgb(153, 153, 153);
}

.womacontainer {
  align: left;
  margin-right: 1.5vw;
}

.future {
  transition: 0.3s;
  width: 39%;
  padding: 2.5vw;
  padding-bottom: 1.5vw;
  margin-right: 4.5vw;
  margin-left: 4.5vw;
  float: left;
}

.future:hover {
  box-shadow: 0 0.3vw 0.6vw 0 rgb(153, 153, 153);
}

.futurecontainer {
  align: left;
  margin-right: 6vw;
}

.good {
  transition: 0.3s;
  width: 39%;
  padding: 2.5vw;
  padding-bottom: 1.5vw;
  margin-right: 4.5vw;
  margin-left: 4.5vw;
  float: right;
  position: relative;
  top: -39.2vw;
}

.good:hover {
  box-shadow: 0 0.3vw 0.6vw 0 rgb(153, 153, 153);
}

.goodcontainer {
  align: left;
  margin-right: 6vw;
}