/* CSS files add styling rules to your content */

* body {
  font-family: 'Poppins', sans-serif;
  margin: 2em;
  color: #404040;
}

.logo {
  margin-left: 4vw;
}

.topnav {
  overflow: hidden;
  background-color: white;
  margin-left: 28vw;
  margin-right: 12vw;
}

.topnav a {
  float: left;
  display: block;
  color: #666666;
  font-weight: bold;
  text-align: center;
  padding: 2.5vw 2.2vw;
  text-decoration: none;
  font-size: 1.2vw;
}

.topnav .search-container {
  float: right;
}

.topnav .search-container button {
  float: right;
  margin-top: 2vw;
  margin-right: 1vw;
  background: white;
  font-size: 1.3vw;
  color: #4d4d4d;
  border: none;
  cursor: pointer;
}